<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{appTitle}}</a>
</nav>


<div class="row">
  <div class="col">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Write todo .." autofocus=""
             [(ngModel)]="newTodo.name" (keyup.enter)="addTodo()">
      <div class="input-group-append">
        <div class="input-group-text btn btn-sm btn-primary" (click)="addTodo()">
          &nbsp;
          &nbsp;
          Add
          &nbsp;
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="todoList.length > 0">
  <div class="col">
    <div class="list-group">

      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
         *ngFor="let todo of todoList" (click)="toggleTodo(todo)">

        {{todo.name}}

        <div *ngIf="todo.isDone">✔️</div>
        <div *ngIf="!todo.isDone">➖</div>

        <button class="badge badge-danger badge-pill btn btn-danger" (click)="deleteTodo(todo)">&times;</button>
      </a>

    </div>
  </div>
</div>


<footer>
  <p>
    Created by {{author}}
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
